@import url("https://fonts.googleapis.com/css2?family=Brygada+1918&family=Roboto&display=swap&effect=3d-float");
body {
  background-color: #01054C;
}

nav li {
  list-style: none;
  text-decoration: none;
}
nav a:hover {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.about-container {
  color: #D4A435;
  padding-left: 20%;
  border: 2px solid #D4A435;
  margin: 50px;
}
.about-container h1 {
  font-family: "Brygada 1918", serif;
  font-size: 150px;
  margin-bottom: 20px;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rbga(0, 0, 0, 0, 0.15);
}
.about-container span {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rbga(0, 0, 0, 0, 0.15);
}
